In [13]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
# import tensorflow as tf
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.neural_network import MLPClassifier
import string
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import nltk

In [23]:
nltk.download('stopwords')
nltk.download('punkt')
stop_words = set(stopwords.words('english'))
# translator = str.maketrans('', '', string.punctuation)

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/reinier/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /Users/reinier/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [15]:
# Load EmoLex
emolex_df = pd.read_csv('emolex/NRC-Emotion-Lexicon-Wordlevel-v0.92.txt', sep='\t', names=['word', 'emotion','association'])

In [18]:
emotions = emolex_df['emotion'].unique()
emolex_words = emolex_df.pivot(index='word',
                               columns='emotion')
emolex_words.head()

          association                                                          \
emotion         anger anticipation disgust fear joy negative positive sadness
word
NaN                 0            0       0    0   0        0        0       0
aback               0            0       0    0   0        0        0       0
abacus              0            0       0    0   0        0        0       0
abandon             0            0       0    1   0        1        0       1
abandoned           1            0       0    1   0        1        0       1


emotion   surprise trust
word
NaN              0     0
aback            0     0
abacus           0     1
abandon          0     0
abandoned        0     0

In [20]:
path = "yelp_dataset/reviews_subset.csv"
reviews_df = pd.read_csv(path,sep=',')
reviews_df.head()

,Unnamed: 0,business_id,stars,useful,text
0,1295256,8yR12PNSMo6FBYx1u5KPlw,2.0,1,Went for lunch and found that my burger was me...
1,3297618,pBNucviUkNsiqhJv5IFpjg,5.0,0,I needed a new tires for my wife's car. They h...
2,1217795,8sf9kv6O4GgEb0j1o22N1g,5.0,0,Jim Woltman who works at Goleta Honda is 5 sta...
3,3730348,XwepyB7KjJ-XGJf0vKc6Vg,4.0,0,Been here a few times to get some shrimp. The...
4,1826590,prm5wvpp0OHJBlrvTj9uOg,5.0,0,This is one fantastic place to eat whether you...

In [21]:
def remove_unnecessary(text):
    translator = str.maketrans('', '', string.punctuation)
    text = text.translate(translator)
    words = word_tokenize(text)
    words = [word for word in words if word.lower() not in stop_words]
    return words

In [24]:
text = "This restaurant was amazing! bad and good"
clean_text = remove_unnecessary(text)
clean_text

['restaurant', 'amazing', 'bad', 'good']