In [1]:
# Initial imports
import pandas as pd
from pathlib import Path
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [24]:
data = Path('data/subset_2000.csv')
df = pd.read_csv(data)
df.head()

,Unnamed: 0,review_id,text,stars,positive,neutral,negative,compound_sentiment,newstar,anger,anticipation,disgust,fear,joy,negative.1,positive.1,sadness,surprise,trust,word_count
0,0,fj7N9Lp6AvEEy6LHrDZzjw,When I was shown to my seat of was still wet s...,2,0.036,0.846,0.118,-0.6437,1,0.0,1.0,0.0,0.0,0.0,1.0,2.0,1.0,0.0,1.0,26.0
1,1,YX2cFHDxlUfGnQ8bHPq4cA,Not Impressed at all. Ordered a omelette and b...,1,0.078,0.715,0.207,-0.8337,1,0.0,1.0,1.0,1.0,1.0,3.0,2.0,3.0,0.0,1.0,33.0
2,2,pDN3hRBarmGWXbK64A83MA,never coming back here again. all of the glass...,1,0.065,0.865,0.070,-0.3773,1,0.0,1.0,3.0,1.0,1.0,7.0,2.0,2.0,0.0,1.0,64.0
3,3,ae5On6KCPiglMQJ--1JcTQ,I don't recommend this place for breakfast. Th...,2,0.000,0.860,0.140,-0.7672,1,0.0,1.0,0.0,0.0,3.0,3.0,6.0,0.0,1.0,3.0,23.0
4,4,i5jMeyoJSbUrQ7T-AU22_A,"Well, lots to say. Managers were busy makin co...",1,0.124,0.741,0.134,-0.3129,1,2.0,4.0,2.0,1.0,1.0,4.0,3.0,1.0,0.0,1.0,60.0

In [25]:
df = df.drop(columns=["Unnamed: 0", 'review_id','text'])
df.head()

,stars,positive,neutral,negative,compound_sentiment,newstar,anger,anticipation,disgust,fear,joy,negative.1,positive.1,sadness,surprise,trust,word_count
0,2,0.036,0.846,0.118,-0.6437,1,0.0,1.0,0.0,0.0,0.0,1.0,2.0,1.0,0.0,1.0,26.0
1,1,0.078,0.715,0.207,-0.8337,1,0.0,1.0,1.0,1.0,1.0,3.0,2.0,3.0,0.0,1.0,33.0
2,1,0.065,0.865,0.070,-0.3773,1,0.0,1.0,3.0,1.0,1.0,7.0,2.0,2.0,0.0,1.0,64.0
3,2,0.000,0.860,0.140,-0.7672,1,0.0,1.0,0.0,0.0,3.0,3.0,6.0,0.0,1.0,3.0,23.0
4,1,0.124,0.741,0.134,-0.3129,1,2.0,4.0,2.0,1.0,1.0,4.0,3.0,1.0,0.0,1.0,60.0

In [26]:
y = df["newstar"]
X = df.drop(columns=("newstar"))

In [27]:
# Splitting into Train and Test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [28]:
# Creating StandardScaler instance
scaler = StandardScaler()

# Fit the Standard Scaler with the training data
X_scaler = scaler.fit(X_train)

# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [29]:
# Create a random forest classifier
rf_model = RandomForestClassifier(n_estimators=1000, random_state=78)

In [30]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [31]:
# Making predictions using the testing data
predictions = rf_model.predict(X_test_scaled)

In [32]:
# Calculating the accuracy score
acc_score = accuracy_score(y_test, predictions)
acc_score

0.9996